<style>

    body {
        background-color: #BEEFFF;
      }
      
    .container {
        position : relative;
        width : 60%;
        margin-bottom : 3%;
    }
    
    .text-block{
        position : relative;
        color: #1E90FF;
        margin-top : 3%;
        margin-left : 20%;
        padding : 1%;

    }
    
</style>


<div class="text-block">
    <h3><strong><%="#{@fullname}" %></strong></h3>
    <br />
    <p><strong>당신에게 꼭 맞는 휴양지는</strong></p>
    <p><strong><%="#{@name}입니다." %></strong></p>
</div>

<div class="container">
    <img src="<%= image_path(@spot_image) %>" style="width:100%;">
</div>
